<nav>
    <ul>
        <li><a routerLink="/"><b>Avans Marktplaats</b></a></li>
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="/register">Registreren</a></li>
        <li *ngIf="!authService.isAuthenticated()"><a routerLink="/login">Inloggen</a></li>
        <li *ngIf="authService.isAuthenticated()"><a routerLink="/create-product">Product aanbieden</a></li>
        <li *ngIf="authService.isAuthenticated()"><a routerLink="/inbox">Inbox</a></li>
        <li *ngIf="authService.isAuthenticated()">Hallo, {{ authService.getUsername() }}</li>
        <li *ngIf="authService.isAuthenticated()"><a href="#" (click)="logout()">Log uit</a></li>
    </ul>
</nav>
<router-outlet></router-outlet>